In [ ]:
!pip install yfinance
!pip install bs4
!pip install nbformat
!pip install --upgrade plotly

Requirement already satisfied: yfinance in c:\anaconda\lib\site-packages (0.2.59)
Requirement already satisfied: pandas>=1.3.0 in c:\anaconda\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\anaconda\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\anaconda\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\anaconda\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\anaconda\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\anaconda\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\anaconda\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\anaconda\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: curl_cffi>=0.7 in c:\anaconda\lib\site-packages (from yfinance) (0.10.0)
Requirement already satisfied: protobuf<6,>=5.29.0 in c:\anaconda\lib\site-packages (from yfinance) (5.29.4)
Requirement already satisfied: websockets>=11.0 in c:\anaconda\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\anaconda\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2024.2.2 in c:\anaconda\lib\site-packages (from curl_cffi>=0.7->yfinance) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Requirement already satisfied: bs4 in c:\anaconda\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: nbformat in c:\anaconda\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\anaconda\lib\site-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\anaconda\lib\site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core in c:\anaconda\lib\site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in c:\anaconda\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: attrs>=22.2.0 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\anaconda\lib\site-packages (from jupyter-core->nbformat) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\anaconda\lib\site-packages (from jupyter-core->nbformat) (305.1)

#  Extracting Tesla Stock Data Using yfinance

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import plotly.io as pio
pio.renderers.default = "iframe"

# stock is Tesla and its ticker symbol is TSLA

In [3]:
# Using the ticker object and the function history extract stock information.
tesla=yf.Ticker("TSLA")
tesla

yfinance.Ticker object <TSLA>

In [4]:
# Create a ticker object for Tesla (TSLA)
tesla = yf.Ticker("TSLA")

# Now get the history data
tesla_data = tesla.history(period="max")

# Reset index to turn the date into a column (optional)
tesla_data.reset_index(inplace=True)

print(tesla_data.head())

                       Date      Open      High       Low     Close  \
0 2010-06-29 00:00:00-04:00  1.266667  1.666667  1.169333  1.592667
1 2010-06-30 00:00:00-04:00  1.719333  2.028000  1.553333  1.588667
2 2010-07-01 00:00:00-04:00  1.666667  1.728000  1.351333  1.464000
3 2010-07-02 00:00:00-04:00  1.533333  1.540000  1.247333  1.280000
4 2010-07-06 00:00:00-04:00  1.333333  1.333333  1.055333  1.074000

      Volume  Dividends  Stock Splits
0  281494500        0.0           0.0
1  257806500        0.0           0.0
2  123282000        0.0           0.0
3   77097000        0.0           0.0
4  103003500        0.0           0.0

# Extracting Tesla Revenue Data Using Webscraping

In [19]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text

In [20]:
soup = BeautifulSoup(html_data, "html.parser")

In [21]:
# Step 3: Read all tables and select the second one (index 1 = Tesla quarterly revenue)
tables = pd.read_html(html_data)
# quarterly revenue of tesla we use index 1
tesla_revenue = tables[1]
#  Rename columns for clarity
tesla_revenue.columns = ["Date", "Revenue"]

#  Clean Revenue column
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(',|\$', '', regex=True)
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue["Revenue"] != ""]

tesla_revenue

C:\Users\Ishwari kafle\AppData\Local\Temp\ipykernel_11620\4163618065.py:2: FutureWarning:

Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

          Date Revenue
0   2022-09-30   21454
1   2022-06-30   16934
2   2022-03-31   18756
3   2021-12-31   17719
4   2021-09-30   13757
5   2021-06-30   11958
6   2021-03-31   10389
7   2020-12-31   10744
8   2020-09-30    8771
9   2020-06-30    6036
10  2020-03-31    5985
11  2019-12-31    7384
12  2019-09-30    6303
13  2019-06-30    6350
14  2019-03-31    4541
15  2018-12-31    7226
16  2018-09-30    6824
17  2018-06-30    4002
18  2018-03-31    3409
19  2017-12-31    3288
20  2017-09-30    2985
21  2017-06-30    2790
22  2017-03-31    2696
23  2016-12-31    2285
24  2016-09-30    2298
25  2016-06-30    1270
26  2016-03-31    1147
27  2015-12-31    1214
28  2015-09-30     937
29  2015-06-30     955
30  2015-03-31     940
31  2014-12-31     957
32  2014-09-30     852
33  2014-06-30     769
34  2014-03-31     621
35  2013-12-31     615
36  2013-09-30     431
37  2013-06-30     405
38  2013-03-31     562
39  2012-12-31     306
40  2012-09-30      50
41  2012-06-30      27
42  2012-03-31      30
43  2011-12-31      39
44  2011-09-30      58
45  2011-06-30      58
46  2011-03-31      49
47  2010-12-31      36
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

In [8]:
print(tesla_revenue.tail())

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

# Use Webscraping to Extract GME Revenue Data

In [32]:
# Create a ticker object for GameStop
gme = yf.Ticker("GME")

# Get historical market data for GameStop (max available period)
gme_data = gme.history(period="max")

# Reset index so 'Date' becomes a column instead of the index
gme_data.reset_index(inplace=True)

# Display first 5 rows
print(gme_data.head())

                       Date      Open      High       Low     Close    Volume  \
0 2002-02-13 00:00:00-05:00  1.620129  1.693350  1.603296  1.691667  76216000
1 2002-02-14 00:00:00-05:00  1.712707  1.716074  1.670626  1.683250  11021600
2 2002-02-15 00:00:00-05:00  1.683250  1.687458  1.658001  1.674834   8389600
3 2002-02-19 00:00:00-05:00  1.666418  1.666418  1.578047  1.607504   7410400
4 2002-02-20 00:00:00-05:00  1.615921  1.662210  1.603296  1.662210   6892800

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

In [33]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data2 = requests.get(url).text

gme_revenue = tables[1]

# Rename columns for clarity if needed
gme_revenue.columns = ["Date", "Revenue"]

# Clean the Revenue column: remove commas and $ signs
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(",|\$", "", regex=True)
gme_revenue["Date"] = pd.to_datetime(gme_revenue["Date"])

# Drop rows where Revenue is empty or NaN
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue["Revenue"] != ""]

# Convert Revenue to numeric type (optional but useful)
gme_revenue["Revenue"] = pd.to_numeric(gme_revenue["Revenue"])

# Now you can display last 5 rows
print(gme_revenue.tail())

         Date  Revenue
57 2006-01-31     1667
58 2005-10-31      534
59 2005-07-31      416
60 2005-04-30      475
61 2005-01-31      709

# Plot Tesla Stock Graph

In [16]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True,
                        subplot_titles=(f"{stock} Stock Price", f"{stock} Revenue"),
                        vertical_spacing=0.3)

    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-06-14']

    fig.add_trace(
        go.Scatter(x=stock_data_specific.Date, y=stock_data_specific.Close.astype("float"), name="Stock Price"),
        row=1, col=1
    )

    fig.add_trace(
        go.Scatter(x=revenue_data_specific.Date, y=revenue_data_specific.Revenue.astype("float"), name="Revenue"),
        row=2, col=1
    )

    fig.update_layout(showlegend=False, height=600, title=f"{stock} Stock Price and Revenue")
    fig.show()

# Plot Tesla data
make_graph(tesla_data, tesla_revenue, "Tesla")

# Plot GameStop Stock Graph

In [34]:
# Define the plotting function
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True,
                        subplot_titles=(f"{stock} Stock Price", f"{stock} Revenue"),
                        vertical_spacing=0.3)
    
    # Filter data up to June 14, 2021
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-06-14']
    
    # Plot stock price
    fig.add_trace(go.Scatter(x=stock_data_specific.Date, y=stock_data_specific.Close.astype("float"),
                             name="Stock Price"), row=1, col=1)
    
    # Plot revenue
    fig.add_trace(go.Scatter(x=revenue_data_specific.Date, y=revenue_data_specific.Revenue.astype("float"),
                             name="Revenue"), row=2, col=1)
    
    # Final layout
    fig.update_layout(showlegend=False, height=600,
                      title=f"{stock} Stock Price and Revenue")
    fig.show()

# Now call the function for GameStop
make_graph(gme_data, gme_revenue, 'GameStop')